.iconButton {
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;
}

.iconButtonStateLayer {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color ease-out 0.15s;
}
.iconButtonStateLayer:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sizeXS {
    padding: 0.125rem;
}
.sizeXS svg {
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
}

.sizeM {
    padding: 0.5rem;
}
.sizeM svg {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
}