.textArea {
    width: 100%;
    height: auto;
    min-height: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    line-height: 1.6;
    letter-spacing: 0.015rem;
    color: white;
    outline: 1px solid transparent;
    resize: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.03);

    transition: background-color, outline ease-out 0.15s;
}
.textArea:hover {
    outline: 1px solid rgba(255, 255, 255, 0.15);
}
.textArea:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}
.textArea::placeholder {
    color: gray;
}
