.chatListItemButtonWrapper {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 8px;
}

.chatListItemButton {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.chatListItemButtonStateLayer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;

    transition: background-color ease-out 0.15s;
}
.chatListItemButtonStateLayer:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chatListItemButton p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}