.messageFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 12px;
}

.messageFormButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.messageFormButtons button {
    padding: 0.25rem;
    background-color: #1f1f1f;
    border-radius: 8px;
    color: white;
    cursor: pointer;

    transition: background-color ease-out 0.15s;
}
.messageFormButtons button:hover {
    background-color: #2f2f2f;
}