.aside {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #0f0f0f;
}

.widthButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: gray;
}

.asideMainButtons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 0;
}

.expanded {
    width: 320px;

    transition: width ease-out 0.15s;
}
.collapsed {
    width: fit-content;
    
    transition: width ease-out 0.15s;
}