.aside {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #0f0f0f;
}

.asideMainButtons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem 0;
}

.expanded {
    width: 320px;
}
.collapsed {
    max-width: 0;
    padding: 0;
}