<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat em Tempo Real</title>
    </head>
    <body>
        <ul id="messages"></ul>
        <form id="form" action="">
            <input id="input" autocomplete="off" /><button>Enviar</button>
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            
            socket.on('connect', function() {
                console.log('Você está conectado ao servidor.');
            });

            socket.on('user_connected', function(user_id) {
                console.log(user_id + ' se conectou ao chat.');
            });

            socket.on('new_message', function(data) {
                var ul = document.getElementById('messages');
                var li = document.createElement('li');
                li.appendChild(document.createTextNode(`${data.user_id}: ${data.message}`));
                ul.appendChild(li);
            });

            document.getElementById('form').onsubmit = function() {
                socket.emit('chat_message', document.getElementById('input').value);
                document.getElementById('input').value = '';
                return false;
            };
        </script>
    </body>
</html>